<!DOCTYPE html>
<html lang="en" ng-app="IntoToAPCDApp">

<head>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<meta name="viewport" content="width=device-width, initial-scale=1">

    	<!-- My Custome CSS -->
	<link rel="stylesheet" href="css/CustomCSS.css" >
    
	<!-- AngularJS -->
	<script src="js/angular.min.js"></script>

	<!-- The AngularJS code I wrote to run the page -->
	<script src="js/controllers.js" ></script>


    
    	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-2.2.1.min.js"></script>

	
	<!-- The Bootstrap JavaScript, used for the collapsible menus -->
	<script src="js/bootstrap.min.js" ></script>
    
    
    
    
    
    
	<!-- The lazyYT TouTube loader - speeds up the webpage -->
	<script src="lazyYT/lazyYT.js" ></script>
	<link rel="stylesheet" href="lazyYT/lazyYT.css" >

</head>



<body ng-controller="MyCtrl as panel">

	<!-- Static navbar -->
	<nav class="navbar navbar-default">
        <div class="container-fluid">
		
			<!-- The button that shows up on mobile phones -->
			<div class="navbar-header">
			<a class="navbar-brand" href ng-click="panel.selectTab(1)">APCD for Researchers</a>
			

			
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
			</div>
		  
			<!-- The menu that shows up on larger screens -->
			<div id="navbar" class="collapse navbar-collapse ">
				<ul class="nav nav-pills">
					
					<li><a href ng-click="panel.selectTab(2)" >Overview</a></li>
					<li><a href ng-click="panel.selectTab(3)" >Medical Claims Terminology</a></li>
					<li><a href ng-click="panel.selectTab(4)" >Health Insurance Terminology</a></li>
					<li><a href ng-click="panel.selectTab(5)" >Past Research</a></li>
					<li><a href ng-click="panel.selectTab(6)" >Data Dictionary</a></li>
					<li><a href ng-click="panel.selectTab(8)" >Additional Resources</a></li>
					<li><a href ng-click="panel.selectTab(7)" >References</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		  
		  
        </div><!--/.container-fluid -->
      </nav>

	
	
	
	


<!--  Spiro's Notes
All youTube videos need the parameter:
?wmode=transparent

without this, they will hide the nave bar
-->



	<section>


		<!-- Home Page featuring the introduction video  -->
		<div class="panel" ng-show="panel.isSelected(1)">
		
			<!-- Work-in-progress note - will be deleted once the website is complete 
			<p>This website is a <b>work-in-progress</b>, with an expected completion date of May 1st, 2016.
			For more information, please see the <a href="https://github.com/Intro-to-APCD/Intro-to-APCD.github.io/blob/master/ProjectManagment/ProjectProposal.pdf" target="_blank">Project Proposal</a>.
			</p>
			<br> 
			-->
			<!-- End Work-in-progress note -->

			<h1>An Introduction to the APCD for Healthcare Researchers</h1>
			
            <!--
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UQhPyEi2uvg?wmode=transparent" frameborder="0" allowfullscreen></iframe>
			-->
            <div class="Video2 lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" ></div>
            
    
            
            
            <br>
			<br>
		</div>	 

		
		
		<!-- Overview videos  -->
		<div class="panel" ng-show="panel.isSelected(2)">
			<h1>An Overview of the All-Payer Claims Database</h1>


	
			<br>
			<h3>Medical Claims Overview</h3>    
            <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>

			<br>
			<br>
			<br>
			<h3>Pharmacy Claims Overview</h3>             
          <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>
     
			<br>
			<br>
			<br>
			<h3>Member Eligibility Overview</h3>    
            <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>

         
			<br>
			<br>
			<br>
			<h3>Product Overview</h3>             
           <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>        
 
			<br>
			<br>
			<br>
			<h3>Provider Overview</h3>            
          <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>

			<br>
			<br>
			<br>
			<h3>The History of the Massachusetts APCD</h3>            
            <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>

			<br>
			<br>
			<br>
			<h3>Protected Health Information and APCD Security</h3>            
          <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>

			<br>
			<br>
			<br>
			<h3>Administrative Simplification</h3>            
           <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>
            
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		
        
        
        
        
		<!-- Medical Claims Terminology videos  -->
		<div class="panel" ng-show="panel.isSelected(3)">
			<h1>Medical Claims Terminology</h1>


			<br>
			<br>
			<h3>How are Claims Paid?</h3>  
       <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>         

			
			<br>
			<br>
			<br>
			<h3>Re-Adjudicating Claims</h3>   
			<div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>
			
			<br>
			<br>
			<br>
			<h3>Inpatient Admissions</h3>   
			<div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>
			
			<br>
			<br>
			<br>
			<h3>ICD Codes</h3>   
            <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>
			
			<br>
			<br>
			<br>
			<h3>Procedure Codes and Revenue Codes</h3>   
           <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>

			
			<br>
			<br>
			<br>
			<h3>Diagnosis-Related Group</h3>   
           <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>


			
			<br>
			<br>
			<br>
			<h3>Medical Facilities</h3>   
            <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>


			

			<br>
			<br>
			<br>
			<br>
			<br>
		</div>	
        
        
        
        
		
		<!-- Health Insurance Terminology videos  -->
		<div class="panel" ng-show="panel.isSelected(4)">
			<h1>Health Insurance Terminology</h1>

			<br>
			<br>
			<h3>Types of Commercial Health Insurance</h3>   		
            <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>

			<br>
			<br>
			<br>
			<h3>Federal Health Care Programs</h3>   		
            <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>

			<br>
			<br>
			<br>
			<h3>What is a Member Month?</h3>   		
            <div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>

			<br>
			<br>
			<br>
			<h3>Actuarial Values</h3>   					
			<div class="lazyYT" data-youtube-id="UQhPyEi2uvg" data-width="560" data-height="315" >loading...</div>
			
			
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>	



		<!-- External Video Resources  
		<div class="panel" ng-show="panel.isSelected(8)">
			<h1>Additional Video Resources</h1>
			<p>These videos were create by other organizations and are subject to the copyright restrictions shown on their YouTube pages.<p>
			<br>
			<h3> Electronic Health Records: What's in it for Everyone?</h3>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/FAaeCYyAxl0?list=PLmC_kcsTR3B_g6cSsy-fIooCyLUKggArt?wmode=transparent" frameborder="0" allowfullscreen></iframe>
			<br>
			<br>
			<br>
			<h3>All Payer Database, Utah Department of Health </h3>
			<iframe width="420" height="315" src="https://www.youtube.com/embed/lab3_vbq32M?wmode=transparent" frameborder="0" allowfullscreen></iframe>
			<br>
			<br>
			<br>
			<h3>Improving Health Outcomes: The Use of Vermont Medical Data to Improve Health Care Decision-Making  </h3>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/L8sKEIGbDEY?wmode=transparent" frameborder="0" allowfullscreen></iframe>
			<br>
			<br>
			<br>
			<h3>CIVHC's APCD -- Managing total costs of care and populations: The power of your data  </h3>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/vrI4QkdXmkY?wmode=transparent" frameborder="0" allowfullscreen></iframe>
			<br>
			<br>
			<br>
			<h3>HIPAA 101: The Basics of HIPAA Administrative Simplification  </h3>
			<iframe width="420" height="315" src="https://www.youtube.com/embed/ahEW1xEKz0Y?wmode=transparent" frameborder="0" allowfullscreen></iframe>
			<br>
			<br>
			<br>
			<h3>TEDxMaastricht Paul Grundy: Smarter healthcare by smarter use of data  </h3>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/npc0PLcYyxM?wmode=transparent" frameborder="0" allowfullscreen></iframe>
			<br>
			<br>
			<br>
			<h3>Predictive Analytics and Big Data - Boston Children's Hospital | Innovation Summit 2014  </h3>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Yaa08nqyUh0?wmode=transparent" frameborder="0" allowfullscreen></iframe>
			<br>
			<br>
			<br>
			<h3>Optum Labs Uses Big Data To Improve Health </h3>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/oxpp-LDwBGY?wmode=transparent" frameborder="0" allowfullscreen></iframe>
			<br>
			<br>
			<br>
			<h3>Finding Healthy Insights from Medical Claims Data  </h3>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/_ktUv0OHXAI?wmode=transparent" frameborder="0" allowfullscreen></iframe>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>		
		-->
		
		
		
		



		<!-- Past Research videos  -->
		<div class="panel" ng-show="panel.isSelected(5)">
			<h1>Research Completed using APCD Data</h1>
			<ul>
				<li><a href="http://scholar.harvard.edu/files/tlayton/files/laytonjmp_upcoding_21oct15.pdf"  target="_blank">Upcoding or Selection? Evidence from Medicare on Squishy Risk Adjustment</a></li>
				<li><a href="http://www.chiamass.gov/enrollment-in-health-insurance/" target="_blank">Enrollment Trends in Massachusetts Health Insurance Plans</a></li>
				<li><a href="http://www.chiamass.gov/massachusetts-commercial-total-medical-expenses-by-town-and-region-published-december-2015/" target="_blank">Massachusetts Commercial Total Medical Expenses by Town and Region</a></li>
				<li><a href="http://www.chiamass.gov/chia-standard-statistics/" target="_blank">CHIA Standard Statistics</a></li>
				<li><a href="http://www.chiamass.gov/the-performance-of-the-massachusetts-health-care-system-series/#relative-price" target="_blank">Provider Price Variation in the Massachusetts Commercial Market</a></li>
				<li><a href="http://www.chiamass.gov/the-performance-of-the-massachusetts-health-care-system-series/#annual-quality-report" target="_blank">A Focus on Provider Quality</a></li>
			</ul>
			<br>
			<br>
			

			
			<!-- 
				<h1>Interviews with APCD Researchers</h1>
				<br>
				<ul>
					<li>Coming Soon!</li>
				</ul>

			-->
			
			
			
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>





		<!-- Data Dictionary   -->
		<div class="panel" ng-show="panel.isSelected(6)">
			<p>Detailed information about the data available in each state's APCD can be found at these websites: </p>
			<br>
			<ul>
				<li><a href="http://www.chiamass.gov/apcd-data-submission-guides/" target="_blank">Massachusetts APCD Data Submission Guides</a></li>
				<li><a href="http://civhc.org/All-Payer-Claims-Database/Data-Submission-Resources.aspx/" target="_blank">Colorado APCD Data Submission Guides</a></li>
				<li><a href="https://mhdo.maine.gov/imhdo/claims_data_dictionaries.htm" target="_blank">Maine Health Data Organization Claims Data Dictionaries</a></li>
				<li><a href="http://mhcc.maryland.gov/mhcc/pages/apcd/apcd_mcdb/apcd_mcdb_data_submission.aspx" target="_blank">Maryland Medical Care Database Submission Manual</a></li>
				<li><a href="http://www.health.state.mn.us/healthreform/encounterdata/adoptedrule.html" target="_blank">Minnesota APCD "Appendices to Minnesota Administrative Rules, Chapter 4653 " </a></li>
				<li><a href="https://nhchis.com/DataAndReport/DataSetDocumentation" target="_blank">New Hampshire CHIS Warehouse Data Dictionary</a></li>				
				<li><a href="http://www.oregon.gov/oha/ohpr/rsch/pages/apac.aspx" target="_blank">Oregon "APAC" Reporting Program</a></li>				
				<li><a href="http://health.ri.gov/data/healthfactsri/" target="_blank">Rhode Island HealthFacts Technical Specifications</a></li>				
				<li><a href="http://health.utah.gov/hda/apd/index.php" target="_blank">Utah APCD Technical Specifications</a></li>
				<li><a href="http://gmcboard.vermont.gov/VHCURES/Data_User_Information" target="_blank">Vermont Data Dictionary</a></li
			</ul>
			</p>
		</div>	


		<!-- References  -->
		<div class="panel" ng-show="panel.isSelected(7)">
			<br>
			<p>For more information, please visit these websites:</p>
			<br>
			<ul>
				<li><a href="http://www.apcdcouncil.org/" target="_blank">The APCD Council</a></li>
				<li><a href="http://www.apcdshowcase.org/" target="_blank">The APCD Showcase</a></li>				
				<li><a href="http://www.chiamass.gov/ma-apcd/" target="_blank">The Massachusetts APCD</a></li>	
				<li><a href="http://www.chiamass.gov/non-government-agency-apcd-requests/" target="_blank">Details on requesting Massachusetts APCD data</a></li>
				<li><a href="http://www.chiamass.gov/archived-ma-apcd-data-applications/" target="_blank">A complete list of past research based on the Massachusetts APCD</a></li>	
				<li><a href="http://www.civhc.org/All-Payer-Claims-Database.aspx/" target="_blank">The Colorado APCD</a></li>
				<li><a href="http://www.rwjf.org/en/library/research/2014/01/realizing-the-potential-of-all-payer-claims-databases--creating-.html" target="_blank">The Robert Wood Johnson Foundation</a></li>
			</ul>	
			<br>
			<br>
		</div>	
	</section>
	
	<br>
	
	<footer>
		<div>This site was created by Spyridon Ganas as part of Georgia Tech's <a href="http://www.omscs.gatech.edu/cs-6460-educational-technology/" target="_blank">Educational Technology</a> course.</div>
		<div> This site is not sponsored by the APCD Council, The Center for Health Information and Analysis (CHIA), or any other organization.</div>
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
		<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
		<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"><i>An Introduction to the APCD for Healthcare Researchers</i></span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
		<br>
	</footer>

</div>





        <script>
            $('Video2.lazyYT').lazyYT();
            $('.lazyYT').lazyYT();
        </script>










</body>
</html>